body {
    background-color: #CCCCCC;
}

#app {
    background-color: white;
    border-left: 0.1rem solid #000;
    // margin-left: 5rem;
    border-right: 0.1rem solid #000;
    // margin-right: 5rem;
    height:100vh;
}

#act {
    background-color: #3366CC;
    color: white;
}

#white {
  color: white;
}

.card-header {
    font-size: 2rem;
    background-color: #BBFFFF;
}

@media (min-width: 1200px) {
    html {
      font-size: 20px;
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px){
    html {
      font-size: 18px;
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
  
  @media (max-width: 767px) {
    html {
      font-size: 12px;
      margin-left: 0;
      margin-right: 0;
    }
  }
